@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel-container {
  perspective: 1000px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carousel-strip {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.1s ease-out;
}

.carousel-strip:hover {
  /* animation-play-state: paused; */
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  /* backface-visibility: hidden; */
}

@keyframes rotate {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}
